<% include header %>
<% include menu_gauche %>




<div class="body">




    <div class="image">
        
        <img class="materialboxed" width="650" src="<%= locals.image_profil %>">
        <br>
        
        <a href="/load" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>

    </div>    
    

    
</div>



<% include menu_droite %>

 <% include footer%>