<%include header%>
 
  
<div class="div_con" >


  <form class="form" method="POST" action="connexion">
     
           
          <div class="row">
            <div class="input-field col s12">
          <input type="text" name="username" id="username" required>
          <label for="username" class="active">Nom d'utilisateur</label>                                
        </div>
        
        <div class="input-field col s12">
            <input type="password" name="pwd" id="pwd" class="validate" required> 
            <label for="pwd" class="active">Mot de passe </label>                                
          </div>
          <br>
          <br>
          </div>
          
            <div >
              <button  type="submit" class="btn red" style="width:150px" >Connexion</button>  
            </div> 
        

        </form>

</div>

                  
<%include footer%>