 
 
 <!-- Modal Structure -->
 <div id="modal1" class="modal">
   <form action="recherche" method="post">
        <div class="modal-content">


          <ul class="nav">

      
      
            <li>
            <div id="sexe">
                <div class="input-field col s4">
                    <select name="sexe">
                    <option value="Masculin" name="sexe">Masculin</option>
                    <option value="Féminin" name="sexe">Féminin</option>
                    <option value="Autre" name="sexe">Autre</option>
                </select>
                <label>Sexe</label>
                </div>

            </div>  
          </li>
        
          <li>
            <div id="profession">
                <div class="input-field col s10">
                    <input type="text" name="profession" id="profession">
                        <label for="profession" class="active">Profession</label>                                
                </div>
            </div>
          </li>
          
          <li>
            <div id="age">
                <div class="input-field col s3">
                    <input type="text" name="age" id="age">
                    <label for="age" class="active">Age</label>                                
                </div>
            </div>
          </li>
        
          <li>
            <div id="interesse">
                <div class="input-field col s5">
                    <select name="interesse">
                    <option value="" name ="interesse"></option>    
                    <option value="Femmes" name="interesse">Femmes</option>
                    <option value="Hommes" name="interesse">Hommes</option>
            
                        </select>
                        <label>Intéressé(e) par les</label>
                </div>  
            </div>
          </li>
            
          </ul>



        </div>
        <div class="modal-footer">
          <button type="submit" class="modal-close waves-effect waves-green btn-flat">Search</button>
        </div>
      </form> 

      </div>
       <!-- Modal Trigger -->